.signup{
  width: 100%;
  height: 100vh;
  padding: 0px 40px;
}

.container{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form{
  width: 35%;
  background-color: rgba(248, 250, 255, 0.2);
  padding: 10px 15px 20px 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.04);
}

.container form h1{
  padding: 20px 0px;
  font-size: 1.5rem;
}

.container form input{
  width: 100%;
  padding: 13px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: transparent;
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 13px;
  transition: all ease-in-out 0.3s;
}

.container form input:focus{
  border: 1px solid #000000;
  outline: none;
}

.submit{
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to right, rgba(0, 217, 255, 0.4), rgba(0, 255, 174, 0.5));
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 8px 4px rgba(92, 255, 231, 0.1);
  transition: all ease-in-out 0.5s;
  margin-bottom: 15px;
}

.submit:hover{
  background-image: linear-gradient(to right, rgba(0, 255, 174, 0.4), rgba(0, 217, 255, 0.5));
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}

.container form a{
  font-size: .8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.container form p{
  padding-top: 10px;
  color: #000000;
  font-size: .8rem;
}


.container .custom-file-input::-webkit-file-upload-button {
  background: #000000;
  color: whitesmoke;
  border-radius: 4px;
  border: none;
  margin-right: 50px;
  margin-left: -7px;
  font-family: inherit;
  padding: 7px;
  cursor: pointer;
  font-size: 0.8rem;
}

.container .custom-file-input::-webkit-file-upload-button:hover{
  background: #44AFAF;
  transition: all ease-in-out 0.3s;
}
  
.container .custom-file-input{
  width: 100%;
  border: none;
  margin: none;
  padding: none;
  font-size: 0.7rem;
}

.imgError{
  font-size: 0.75rem;
  color: rgb(255, 38, 0) !important;
  margin-top: -15px;
  padding-bottom: 10px;
}

@media screen and (max-width: 1050px){
.container form{
  width: 370px;
}
}

@media screen and (max-width: 450px){
.signup{
  padding: 0px 10px;
  background: white;
}
.container form{
  width: 100%;
  height: 100%;
  background: none;
  box-shadow: none;
  padding: 0px;
}

.container form h1{
  padding-bottom: 50px;
}
}